body {
    font-family: 'Open Sans', sans-serif;
    color: #353535;
}

#page-container {
    margin-top: 50px;
    padding: 0;
}

.row .sidebar {
    padding-left: 0px;
    margin-top: 10px;
}

.sidebar ul {
    list-style-type: none;
    width: 100%;
    background-color: #eee;
    margin-bottom: -5000px;
    padding: 0 0 5000px 0;
    overflow: hidden;
}

.sidebar li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

.sidebar li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: #7fbbda;
    color: white;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.table-suggestions {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.table-suggestions tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}

.table-suggestions tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}

.table-suggestions tbody tr.selected td {
    background-color: #eee;
}

.table-suggestions tr td:first-child {
    width: 38px;
}

.table-suggestions .date {
    font-size: 11px;
    color: #999;
}

.suggestion-text {
    font-size: 14px;
    color: #353535;
}

.table-suggestions a {
    text-decoration: none;
}

.navbar a img {
    margin: 5px 0 5px 50px;
}

@media only screen and (max-width: 992px) {
    .sidebar ul {
        margin: 0;
        padding: 0;
    }
}

